
<div>
   <div class="myHomWhoItWorkSection">
      <div class="popl_container">

         <div class="work__head onlyEnglish">
                <h3 class="l-title">@Loc["zap.homepage.activation.head"]</h3>
         </div>
         <div class="work__head onlyPersian">
            <h3 class="l-title">@Loc["zap.homepage.activation.head"]</h3>
         </div>


         <div class="work__cards">
            <div class="work__card how_it_works_1" data-handle="all-products">
               <a class="work__link__wrapper" href="/collections/all-products" title="Get a Popl product <br>that works best for you" data-bss-pl="active">
                  <div class="work__numerals">
                     <div class="work__numbers">1</div>
                  </div>
                  <div class="work__thumb">
                      <img src="/popl/images/خرید و دریافت زپ copy.png" alt="" loading="lazy">
                </div>
                  <div class="work__content onlyEnglish">
                            <h3>@Html.Raw(@Loc["zap.homepage.activation.s1"])</h3>
                  </div>

                  <div class="work__content onlyPersian">
                            <h3>@Loc["zap.homepage.activation.s1"]</h3>
                     
                  </div>

               </a>
            </div>
            <div class="work__card how_it_works_2">
               <a class="work__link__wrapper" 
                   href="https://poplco.app.link/poplcowebsite" title="Download the free Popl<br> app and set up your profile" target="_blank" data-bss-pl="active">
                  <div class="work__numerals">
                     <div class="work__numbers">2</div>
                  </div>
                  <div class="work__thumb">
                      <img src="/popl/images/دانلود اپلیکیشن و ساخت پروفایل copy.png" alt="" loading="lazy">
                  </div>
                  <div class="work__content onlyEnglish">
                            <h3>@Html.Raw(@Loc["zap.homepage.activation.s2"])</h3>
                  </div>
                  <div class="work__content onlyPersian">
                     <h3>@Loc["zap.homepage.activation.s2"]</h3>
                  </div>
               </a>
            </div>
            <div class="work__card how_it_works_3">
               <a class="work__link__wrapper" 
                   href="https://poplme.co/popl/navigate/activate-device" title="Activate your product <br> to your profile when it arrives" target="_blank" data-bss-pl="active">
                  <div class="work__numerals">
                     <div class="work__numbers">3</div>
                  </div>
                  <div class="work__thumb">
                      <img src="/popl/images/فعالسازی زپ.jpg" alt="" loading="lazy">
                  </div>
                  <div class="work__content onlyEnglish">
                            <h3>@Html.Raw(@Loc["zap.homepage.activation.s3"])</h3>
                  </div>
                  <div class="work__content onlyPersian">
                            <h3>@Loc["zap.homepage.activation.s3"]</h3>
                  </div>
               </a>
            </div>
            <div class="work__card how_it_works_4">
               <a class="work__link__wrapper" 
                   href="https://poplme.co/popl/navigate/share" title="Share your profile using your<br> in-app QR code or Popl product" target="_blank" data-bss-pl="active">
                  <div class="work__numerals">
                     <div class="work__numbers">4</div>
                  </div>
                  <div class="work__thumb">
                      <img src="/popl/images/انتقال اطلاعات از طریق زپ کردن copy.png" alt="" loading="lazy">
                  </div>
                  <div class="work__content onlyEnglish">
                            <h3>@Html.Raw(@Loc["zap.homepage.activation.s4"])</h3>
                  </div>
                  <div class="work__content onlyPersian">
                            <h3>
                                @Loc["zap.homepage.activation.s4"]</h3>
                  </div>
               </a>
            </div>
         </div>
         <div class="work__start">
            <div class="d-mob custom_download--label">Available on</div>
            <ul class="work__start--download">
               <li>
                   <a class="l-app-tag" href="https://apps.apple.com/us/app/popl/id1503939262" title="" target="_blank" data-bss-pl="active">
                        <img src="/popl/images/Group_1140_550x.webp" alt="img" loading="lazy">
                   </a>
               </li>
               <li>
                   <a class="l-app-tag" href="https://play.google.com/store/apps/details?id=com.nfc.popl" title="" target="_blank" data-bss-pl="active">
                       <img src="/popl/images/Group_1141_550x.webp" alt="img" loading="lazy">
                   </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
