@model Widgets.RepresentationRequest.Models.RepresentationRequestModel

@{
    Layout = "_PoplSingleColumn";
}


<link rel="stylesheet" type="text/css" asp-src="/Plugins/Widgets.RepresentationRequest/Assets/widget_component.css" />

<div>
    <validation-observer v-slot="{ handleSubmit }">
        <form asp-route="Plugin.Widgets.RepresentationRequest.Create" onsubmit="representation_request_form_stopMultipleSubmit()"
                method="post" id="representation-request-form" ref="form" class="contact-form">
            <div class="myRepresentationRequestContainer">
                <div class="popl_container">

                    <div class="representationrequest__head onlyEnglish">
                        <span class="representationrequest__head_item">@Loc["Widgets.RepresentationRequest.inputform.head1"]</span>
                        <span class="representationrequest__head_item">@Loc["Widgets.RepresentationRequest.inputform.head2"]</span>
                        <span class="representationrequest__head_item">@Loc["Widgets.RepresentationRequest.inputform.head3"]</span>
                    </div>
                    <div class="representationrequest__head onlyPersian">
                        <span class="representationrequest__head_item">@Loc["Widgets.RepresentationRequest.inputform.head1"]</span>
                        <span class="representationrequest__head_item">@Loc["Widgets.RepresentationRequest.inputform.head2"]</span>
                        <span class="representationrequest__head_item">@Loc["Widgets.RepresentationRequest.inputform.head3"]</span>
                    </div>

                    <div class="form_fields_wrapper">

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                    @Loc["Widgets.RepresentationRequest.Fields.FullName"]
                                    <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="FullName" v-slot="{ errors, classes }">
                                <input asp-for="FullName" v-model="vueRepresentationRequest.FullName"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.FullName"]" 
                                       v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="FullName"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.Age"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="Age" v-slot="{ errors, classes }">
                                <input asp-for="Age" v-model="vueRepresentationRequest.Age"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.Age"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="Age"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.LevelOfEducation"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="LevelOfEducation" v-slot="{ errors, classes }">
                                <input asp-for="LevelOfEducation" v-model="vueRepresentationRequest.LevelOfEducation"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.LevelOfEducation"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="LevelOfEducation"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.FieldOfStudy"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="FieldOfStudy" v-slot="{ errors, classes }">
                                <input asp-for="FieldOfStudy" v-model="vueRepresentationRequest.FieldOfStudy"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.FieldOfStudy"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="FieldOfStudy"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.Address"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="Address" v-slot="{ errors, classes }">
                                <input asp-for="Address" v-model="vueRepresentationRequest.Address"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.Address"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="Address"></span>
                            </validation-provider>
                        </div>


                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.Job"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="Job" v-slot="{ errors, classes }">
                                <input asp-for="Job" v-model="vueRepresentationRequest.Job"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.Job"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="Job"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.JobExperience"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="JobExperience" v-slot="{ errors, classes }">
                                <input asp-for="JobExperience" v-model="vueRepresentationRequest.JobExperience"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.JobExperience"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="JobExperience"></span>
                            </validation-provider>
                        </div>




                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.WorkAddress"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="WorkAddress" v-slot="{ errors, classes }">
                                <input asp-for="WorkAddress" v-model="vueRepresentationRequest.WorkAddress"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.WorkAddress"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="WorkAddress"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.WorkTel"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="WorkTel" v-slot="{ errors, classes }">
                                <input asp-for="WorkTel" v-model="vueRepresentationRequest.WorkTel"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.WorkTel"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="WorkTel"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.BusinessWebsite"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="BusinessWebsite" v-slot="{ errors, classes }">
                                <input asp-for="BusinessWebsite" v-model="vueRepresentationRequest.BusinessWebsite"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.BusinessWebsite"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="BusinessWebsite"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.InstagramChannel"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="InstagramChannel" v-slot="{ errors, classes }">
                                <input asp-for="InstagramChannel" v-model="vueRepresentationRequest.InstagramChannel"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.InstagramChannel"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="InstagramChannel"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.WhoDidYouGetToKnowZAP"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="WhoDidYouGetToKnowZAP" v-slot="{ errors, classes }">
                                <input asp-for="WhoDidYouGetToKnowZAP" v-model="vueRepresentationRequest.WhoDidYouGetToKnowZAP"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.WhoDidYouGetToKnowZAP"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="WhoDidYouGetToKnowZAP"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.StrengthAndWeakness"]
                                
                            </label>

                            <validation-provider tag="div" rules="required" name="StrengthAndWeakness" v-slot="{ errors, classes }">
                                

                                <textarea asp-for="StrengthAndWeakness" v-model="vueRepresentationRequest.StrengthAndWeakness"
                                          placeholder="@Loc["Widgets.RepresentationRequest.Fields.StrengthAndWeakness"]" 
                                          v-bind:class="[classes , 'form-control','form-control-textarea']"></textarea>

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="StrengthAndWeakness"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.EstimateOfSell"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="EstimateOfSell" v-slot="{ errors, classes }">
                                <input asp-for="EstimateOfSell" v-model="vueRepresentationRequest.EstimateOfSell"
                                       placeholder="@Loc["Widgets.RepresentationRequest.Fields.EstimateOfSell"]" v-bind:class="[classes , 'form-control']" />

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="EstimateOfSell"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.SellPromotionalProgram"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="SellPromotionalProgram" v-slot="{ errors, classes }">
                               
                                <textarea asp-for="SellPromotionalProgram" v-model="vueRepresentationRequest.SellPromotionalProgram"
                                          placeholder="@Loc["Widgets.RepresentationRequest.Fields.SellPromotionalProgram"]" 
                                          v-bind:class="[classes , 'form-control', 'form-control-textarea']"></textarea>

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="SellPromotionalProgram"></span>
                            </validation-provider>
                        </div>

                        <div class="my_form_input">
                            <label class="representation-request-form-label">
                                @Loc["Widgets.RepresentationRequest.Fields.WantedCities"]
                                <span class="my_required_star">*</span>
                            </label>

                            <validation-provider tag="div" rules="required" name="WantedCities" v-slot="{ errors, classes }">
                                
                                <textarea asp-for="WantedCities" v-model="vueRepresentationRequest.WantedCities"
                                          placeholder="@Loc["Widgets.RepresentationRequest.Fields.WantedCities"]" 
                                          v-bind:class="[classes , 'form-control', 'form-control-textarea']"></textarea>

                                <span class="field-validation-error">{{ errors[0] }}</span>

                                <span asp-validation-for="WantedCities"></span>
                            </validation-provider>
                        </div>

                        
                    </div>

                    <div class="submint-container">
                        <div class="captcha-box">
                            <captcha />
                        </div>

                        <input type="submit"
                               class="submit l-btn" id="representation-request-form-submit-button" value="@Loc["Widgets.RepresentationRequest.SendButton"]">

                    </div>
                    
                </div>
            </div>
        </form>
    </validation-observer>
</div>

<script asp-location="Footer" asp-order="300">
    var vueRepresentationRequest = new Vue({
        data: () => ({
    @{
        <text>
            FullName: '@Html.Raw(Model==null ? "" : Model.FullName)',
            Age: '@Html.Raw(Model==null ? "" : Model.Age)',
            LevelOfEducation: '@Html.Raw(Model==null ? "" : Model.LevelOfEducation)',
            FieldOfStudy: '@Html.Raw(Model==null ? "" : Model.FieldOfStudy)',
            Address: '@Html.Raw(Model==null ? "" : Model.Address)',
            Job: '@Html.Raw(Model==null ? "" : Model.Job)',
            JobExperience: '@Html.Raw(Model==null ? "" : Model.JobExperience)',
            WorkAddress: '@Html.Raw(Model==null ? "" : Model.WorkAddress)',
            WorkTel: '@Html.Raw(Model==null ? "" : Model.WorkTel)',
            BusinessWebsite: '@Html.Raw(Model==null ? "" : Model.BusinessWebsite)',
            InstagramChannel: '@Html.Raw(Model==null ? "" : Model.InstagramChannel)',
            WhoDidYouGetToKnowZAP: '@Html.Raw(Model==null ? "" : Model.WhoDidYouGetToKnowZAP)',

            StrengthAndWeakness: '@Html.Raw(Model==null ? "" : Model.StrengthAndWeakness)',
            EstimateOfSell: '@Html.Raw(Model==null ? "" : Model.EstimateOfSell)',
            SellPromotionalProgram: '@Html.Raw(Model==null ? "" : Model.SellPromotionalProgram)',
            WantedCities: '@Html.Raw(Model==null ? "" : Model.WantedCities)',

        </text>
    }
                                        })
                                    });


    var representation_form_isSubmitted = false;
    function representation_request_form_stopMultipleSubmit() {
        if (!representation_form_isSubmitted) {

            //$('#btnSubmit').val('Submitting.. Please Wait..');
            var btn = document.getElementById('representation-request-form-submit-button');
            btn.setAttribute('disabled', '');

            representation_form_isSubmitted = true;
            return true;
        }
        else {
            return false;
        }
    }
</script>