@using Microsoft.AspNetCore.Http.Extensions
@inject Grand.Business.Storage.Interfaces.IPictureService pictureService
@inject SeoSettings seoSettings
@{
    Layout = "_PoplSingleColumn";
}

@section meta {
    @if (seoSettings.OpenGraphMetaTags)
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@seoSettings.DefaultTitle" />
        <meta property="og:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="og:image" content="@picture" />
        }
        <meta property="og:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
    @if (seoSettings.TwitterMetaTags)
    {
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:title" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="twitter:image" content="@picture" />
        }

        <meta property="twitter:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
}

<div class="contact-us-page-container">
        <div class="contact-us-form-container">
            @await Component.InvokeAsync("MyHomeContactSection")
        </div>

        <div class="contact-us-map-container">
            <iframe class="map" 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12951.150360635313!2d51.40577208201904!3d35.75602523093959!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8a541e0d4d6346fb!2z2KrYr9io24zYsSDaqdin2YTYp9uMINis2YU!5e0!3m2!1sfa!2s!4v1547463221350"
                frameborder="0" style="border:0;width:100%; height:100%;" allowfullscreen>
            </iframe>

            <div id="ContactUsMainDivAddress">
                <div id="ContactUsAddress" class="ContactUsMapTextAddress">

                    <div class="ContactUsMapTextContentIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.08" height="45.44" viewBox="0 0 34.08 45.44">
                            <path id="location-pin" d="M20.04,0A17.121,17.121,0,0,0,3,17.163C3,30.612,18.438,44.5,19.1,45.08a1.423,1.423,0,0,0,1.89,0c.657-.585,16.1-14.471,16.1-27.919A17.121,17.121,0,0,0,20.04,0Zm0,26.507a9.467,9.467,0,1,1,9.467-9.467A9.477,9.477,0,0,1,20.04,26.507Z" transform="translate(-3)" fill="#00a8b2" />
                        </svg>
                    </div>
                    <div class="ContactUsMapTextContent">
                        <div class="ContactUsMapTextAddressTitle">
                            @Loc["zap.map-address.address-title"]

                        </div>
                        <div class="ContactUsMapTextContentDesc">
                            @Loc["zap.map-address.address"]

                        </div>
                    </div>
                </div>
                <div id="ContactUsPhone" class="ContactUsMapTextAddress">

                    <div class="ContactUsMapTextContentIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.08" height="34.152" viewBox="0 0 34.08 34.152">
                            <g id="phone-call-2" transform="translate(-23 406)">
                                <g id="Group_213" data-name="Group 213" transform="translate(23 -406)">
                                    <path id="Path_243" data-name="Path 243" d="M33.726,25.064,28.96,20.3a3.17,3.17,0,0,0-5.277,1.191,3.243,3.243,0,0,1-3.745,2.043c-3.4-.851-8-5.277-8.851-8.851a3.085,3.085,0,0,1,2.043-3.745A3.17,3.17,0,0,0,14.321,5.66L9.555.894a3.4,3.4,0,0,0-4.6,0L1.725,4.128c-3.234,3.4.34,12.426,8.34,20.426S27.087,36.3,30.492,32.894l3.234-3.234A3.4,3.4,0,0,0,33.726,25.064Z" transform="translate(-0.539 0)" fill="#00a8b2" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="ContactUsMapTextContent">
                        <div class="ContactUsMapTextAddressTitle">
                           @Loc["zap.map-address.phone-title"]

                        </div>
                        <div class="ContactUsMapTextContentDesc">
                            @Loc["zap.map-address.phone"]

                        </div>
                    </div>

                </div>
                <div id="ContactUsEmail" class="ContactUsMapTextAddress">
                <div class="ContactUsMapTextContentIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34.08" height="25.525" viewBox="0 0 34.08 25.525">
                        <g id="email-2" transform="translate(0 0)">
                            <path id="Path_241" data-name="Path 241" d="M18.191,76.854a3.359,3.359,0,0,0,3.341,0h0L36.7,66.742a3.678,3.678,0,0,0-3.471-2.475H6.494a3.678,3.678,0,0,0-3.471,2.475L18.191,76.854Z" transform="translate(-2.822 -64.267)" fill="#00a8b2" />
                            <path id="Path_242" data-name="Path 242" d="M19.819,145h0a5.344,5.344,0,0,1-5.557,0h0L0,135.494v17.112a3.676,3.676,0,0,0,3.672,3.672H30.408a3.676,3.676,0,0,0,3.672-3.672V135.494Z" transform="translate(0 -130.753)" fill="#00a8b2" />
                        </g>
                    </svg>
                </div>
                <div class="ContactUsMapTextContent">
                    <div class="ContactUsMapTextAddressTitle">
                            @Loc["zap.map-address.email-title"]

                    </div>

                    <div class="ContactUsMapTextContentDesc">
                            @Loc["zap.map-address.email"]

                    </div>
                </div>
            </div>
            </div>

        </div>
</div>

