@using Microsoft.AspNetCore.Http.Extensions
@inject Grand.Business.Storage.Interfaces.IPictureService pictureService
@inject SeoSettings seoSettings
@{
    Layout = "_PoplSingleColumn";
}

@section meta {
    @if (seoSettings.OpenGraphMetaTags)
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@seoSettings.DefaultTitle" />
        <meta property="og:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="og:image" content="@picture" />
        }
        <meta property="og:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
    @if (seoSettings.TwitterMetaTags)
    {
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:title" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="twitter:image" content="@picture" />
        }

        <meta property="twitter:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
}

    <link rel="stylesheet" type="text/css" href="/popl/css/learn-zap.css" />

    <div class="container main content">
        <div id="easy-faq-app-top-section"
         style="background-image: url('/popl/images/background/banners_defaultBanner.webp');">
            <h1 id="easy-faq-app-header" style="text-align: center; color:#000000"><span>Tutorials</span></h1>
            <div id="easy-faq-search-bar-section" class="easy-faq-search-bar" style="text-align: center">
                <input type="text" onkeyup="easyFaqSearchFaq(event)" placeholder="What can we help you with?"></div>
            <div class="easy-faq-contact-details">
                <div class="easy-faq-double-detail-box">
                    <img alt="Email Support" src="/popl/images/icon/email.png">
                    <div class="easy-faq-single-detail-box-details">
                        <p style="color:#000000">Support Email</p>
                        <p><a style="color:#000000" href="mailto:support@popl.co">support@popl.co</a></p>
                    </div>
                </div>
                <div class="easy-faq-double-detail-box">
                    <img alt="Phone Support" src="/popl/images/icon/phone.png">
                    <div class="easy-faq-single-detail-box-details">
                        <p style="color:#000000">Support Phone</p>
                        <p style="color:#000000">+1-510-650-1841</p>
                    </div>
                </div>
            </div>
        </div>
     <div><span id="easy-faq-app-search-bar"></span></div>
        <div id="faq-plus-app-template-three">
            <div id="faq-plus-category-topbar" class="faq-plus-category-topbar" style="display: block;">
                <a href="#GeneralNotes" class="faq-app-category-individual" style="color: #000000">نکات کلی در مورد زپ و تکنولوژی آن</a>
                <a href="#SettingUp" class="faq-app-category-individual" style="color: #000000">راه اندازی</a>
                <a href="#SendInfo" class="faq-app-category-individual" style="color: #000000">ارسال اطلاعات با زپ</a>
                <a href="#WorkingWithApp" class="faq-app-category-individual" style="color: #000000">کار با اپلیکیشن</a>
                <a href="#Other" class="faq-app-category-individual" style="color: #000000">سایر موارد</a>
                
            </div>
            <div class="faq-plus-app-container" id="easy-faq-app-default-display" style="display: block;">
                <div class="faq-plus-accordian">
                    <section id="GeneralNotes" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">نکات کلی در مورد زپ و تکنولوژی آن</h2>
                        <div id="how-to-setup--with-a-popl-device--" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-0-0">
                            <label for="toggle-TheBasics-0-0" class="faqPlusAppTitle" itemprop="name">زپ چیست و چه کاربردهایی دارد؟</label>
                            <div class="faqPlusAppContent" data-search-id="62678b1b7b993f38f913cfd5" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/070R0JvpskE" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-new-iphones--xr--xs--11--12--13--14-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-1-0"> 
                            <label for="toggle-TheBasics-1-0" class="faqPlusAppTitle" itemprop="name">NFC و کاربردهای آن</label>
                            <div class="faqPlusAppContent" data-search-id="62678b407b993f38f913cfd6" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/33dzv874RM4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-androids" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-2-0">
                            <label for="toggle-TheBasics-2-0" class="faqPlusAppTitle" itemprop="name">چطور بفهمیم یک گوشی NFC دارد یا خیر</label>
                            <div class="faqPlusAppContent" data-search-id="626af76dd516a8658cfa3fc9" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ConVMLOg_Rw" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-device" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-3-0">
                            <label for="toggle-TheBasics-3-0" class="faqPlusAppTitle" itemprop="name">آیا برای کار کردن با زپ، حتما باید گوشی من NFC داشته باشد؟</label>
                            <div class="faqPlusAppContent" data-search-id="62678b867b993f38f913cfd7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="if-no-nfc" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-4-0">
                            <label for="toggle-TheBasics-4-0" class="faqPlusAppTitle" itemprop="name">اگر گوشی طرف مقابل NFC نداشت ...</label>
                            <div class="faqPlusAppContent" data-search-id="62678b867b993f38f913cfd7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="who-turnon-nfc" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-5-0">
                            <label for="toggle-TheBasics-5-0" class="faqPlusAppTitle" itemprop="name">روشن کردن NFC گوشی</label>
                            <div class="faqPlusAppContent" data-search-id="62678b867b993f38f913cfd7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="buy-zap" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-6-0">
                            <label for="toggle-TheBasics-6-0" class="faqPlusAppTitle" itemprop="name">خرید زپ</label>
                            <div class="faqPlusAppContent" data-search-id="62678b867b993f38f913cfd7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section id="SettingUp" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">راه اندازی</h2>
                        <div id="how-to-setup--with-a-popl-device--" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-0-1"> 
                            <label for="toggle-OnboardingSetup-0-1" class="faqPlusAppTitle" itemprop="name">ساخت اکانت در زپ</label>
                            <div class="faqPlusAppContent" data-search-id="6238c91d807f39a8463f63b1" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/070R0JvpskE" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="how-to-setup--without-a-popl-device-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-1-1">
                            <label for="toggle-OnboardingSetup-1-1" class="faqPlusAppTitle" itemprop="name">تکمیل پروفایل زپ</label>
                            <div class="faqPlusAppContent" data-search-id="6238c929807f39a8463f63b2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="how-to-setup--without-a-popl-device-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-1-2"> 
                            <label for="toggle-OnboardingSetup-1-2" class="faqPlusAppTitle" itemprop="name">فعالسازی زپ (گوشی های آیفون)</label>
                            <div class="faqPlusAppContent" data-search-id="6238c929807f39a8463f63b2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="how-to-setup--without-a-popl-device-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-1-3"> 
                            <label for="toggle-OnboardingSetup-1-3" class="faqPlusAppTitle" itemprop="name">فعالسازی زپ (اندرویدها)</label>
                            <div class="faqPlusAppContent" data-search-id="6238c929807f39a8463f63b2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="how-to-setup--without-a-popl-device-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-1-4"> 
                            <label for="toggle-OnboardingSetup-1-4" class="faqPlusAppTitle" itemprop="name">نکات مهم در چسباندن زپ پشت گوشی</label>
                            <div class="faqPlusAppContent" data-search-id="6238c929807f39a8463f63b2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section id="SendInfo" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">ارسال اطلاعات با زپ</h2>
                        <div id="popping-to-new-iphones--xr--xs--11--12--13--14-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-0-2"> 
                            <label for="toggle-HowtoPop8482-0-2" class="faqPlusAppTitle" itemprop="name">زپ کردن دوستان (گوشی های آیفون)</label>
                            <div class="faqPlusAppContent" data-search-id="622a4de7fb01ef27ef45d5b7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/33dzv874RM4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-older-iphones--7--8--x-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-1-2"> 
                            <label for="toggle-HowtoPop8482-1-2" class="faqPlusAppTitle" itemprop="name">زپ کردن دوستان (اندرویدی ها)</label>
                            <div class="faqPlusAppContent" data-search-id="622a4e85fb01ef27ef45d5b8" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/oQrysrgX3gI" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-androids" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-2-2"> 
                            <label for="toggle-HowtoPop8482-2-2" class="faqPlusAppTitle" itemprop="name">طرف مقابل هم باید زپ داشته باشد؟</label>
                            <div class="faqPlusAppContent" data-search-id="622a50affb01ef27ef45d5c1" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ConVMLOg_Rw" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-your-qr-popcode" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-3-2"> 
                            <label for="toggle-HowtoPop8482-3-2" class="faqPlusAppTitle" itemprop="name">ارسال بخشی از اطلاعات پروفایل برای مخاطب (تیک آبی رنگ کنار آیکون شبکه های اجتماعی در اپلیکیشن)</label>
                            <div class="faqPlusAppContent" data-search-id="622a50f6fb01ef27ef45d5c2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-your-qr-popcode" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-3-3"> 
                            <label for="toggle-HowtoPop8482-3-3" class="faqPlusAppTitle" itemprop="name">ارسال شدن پروفایل زپ به جای پروفایل من موقع زپ کردن دوستان</label>
                            <div class="faqPlusAppContent" data-search-id="622a50f6fb01ef27ef45d5c2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="WorkingWithApp" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">کار با اپلیکیشن</h2>
                        <div id="popping-with-a-phone-tag--popl-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-0-3">
                            <label for="toggle-PoppingwithDifferentDevices-0-3" class="faqPlusAppTitle" itemprop="name">عدد ثبت شده در پایین عکس پروفایل و مقابل عنوان zap در اپلیکیشن</label>
                            <div class="faqPlusAppContent" data-search-id="622a516dfb01ef27ef45d5c4" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/FEibKiRvVCo" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/1IqJHpPTI7U" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-popl-card" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-1-3"> 
                            <label for="toggle-PoppingwithDifferentDevices-1-3" class="faqPlusAppTitle" itemprop="name">بخش دوستان من در اپلیکیشن</label>
                            <div class="faqPlusAppContent" data-search-id="622a5176fb01ef27ef45d5c5" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/2sgAuh8h_Jo" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/XSl1rZWWqi0" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-popl-band" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-2-3"> 
                            <label for="toggle-PoppingwithDifferentDevices-2-3" class="faqPlusAppTitle" itemprop="name">کلمه عبور خود را فراموش کردم!</label>
                            <div class="faqPlusAppContent" data-search-id="622a51a5fb01ef27ef45d5c6" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/bLXUN88q_nM" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/UKJnrp4BK1E" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        
                    </section>


                    <section id="Other" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">سایر موارد</h2>
                        <div id="activating-a-phone-tag--popl-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-0-4"> 
                            <label for="toggle-ActivatingaPoplDevice-0-4" class="faqPlusAppTitle" itemprop="name">داشتن چند زپ به طور همزمان</label>
                            <div class="faqPlusAppContent" data-search-id="622a5410fb01ef27ef45d5d7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-card" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-1-4"> 
                            <label for="toggle-ActivatingaPoplDevice-1-4" class="faqPlusAppTitle" itemprop="name">زپ با طرح دلخواه</label>
                            <div class="faqPlusAppContent" data-search-id="622a54bbfb01ef27ef45d5d9" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/rY9mhXea3W8" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-band" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-2-4"> 
                            <label for="toggle-ActivatingaPoplDevice-2-4" class="faqPlusAppTitle" itemprop="name">آبا زپ با شارژ وایرلس تداخلی دارد؟</label>
                            <div class="faqPlusAppContent" data-search-id="622a54d9fb01ef27ef45d5da" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ae8k7z0E9qI" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-keychain" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-3-4"> 
                            <label for="toggle-ActivatingaPoplDevice-3-4" class="faqPlusAppTitle" itemprop="name">چطور مطمئن باشم از اطلاعات من سوء استفاده نمی شود؟</label>
                            <div class="faqPlusAppContent" data-search-id="622a54f7fb01ef27ef45d5dc" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/CnlWjJM09YY" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
        </div>
    </div>

    <partial name="LearnZapScript" />

  