@using Microsoft.AspNetCore.Http.Extensions
@inject Grand.Business.Storage.Interfaces.IPictureService pictureService
@inject SeoSettings seoSettings
@{
    Layout = "_PoplSingleColumn";
}

@section meta {
    @if (seoSettings.OpenGraphMetaTags)
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@seoSettings.DefaultTitle" />
        <meta property="og:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="og:image" content="@picture" />
        }
        <meta property="og:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
    @if (seoSettings.TwitterMetaTags)
    {
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:title" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="twitter:image" content="@picture" />
        }

        <meta property="twitter:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
}

    <link rel="stylesheet" type="text/css" href="/popl/css/learn-zap.css" />

    <div class="container main content">
        <div id="easy-faq-app-top-section"
         style="background-image: url('/popl/images/background/banners_defaultBanner.webp');">
            <h1 id="easy-faq-app-header" style="text-align: center; color:#000000"><span>Tutorials</span></h1>
            <div id="easy-faq-search-bar-section" class="easy-faq-search-bar" style="text-align: center">
                <input type="text" onkeyup="easyFaqSearchFaq(event)" placeholder="What can we help you with?"></div>
            <div class="easy-faq-contact-details">
                <div class="easy-faq-double-detail-box">
                    <img alt="Email Support" src="/popl/images/icon/email.png">
                    <div class="easy-faq-single-detail-box-details">
                        <p style="color:#000000">Support Email</p>
                        <p><a style="color:#000000" href="mailto:support@popl.co">support@popl.co</a></p>
                    </div>
                </div>
                <div class="easy-faq-double-detail-box">
                    <img alt="Phone Support" src="/popl/images/icon/phone.png">
                    <div class="easy-faq-single-detail-box-details">
                        <p style="color:#000000">Support Phone</p>
                        <p style="color:#000000">+1-510-650-1841</p>
                    </div>
                </div>
            </div>
        </div>
     <div><span id="easy-faq-app-search-bar"></span></div>
        <div id="faq-plus-app-template-three">
            <div id="faq-plus-category-topbar" class="faq-plus-category-topbar" style="display: block;">
                <a href="#TheBasics" class="faq-app-category-individual" style="color: #000000">The Basics</a>
                <a href="#OnboardingSetup" class="faq-app-category-individual" style="color: #000000">Onboarding/Setup</a>
                <a href="#HowtoPop8482" class="faq-app-category-individual" style="color: #000000">How to Pop™</a>
                <a href="#PoppingwithDifferentDevices" class="faq-app-category-individual" style="color: #000000">Popping with Different Devices</a>
                <a href="#ActivatingaPoplDevice" class="faq-app-category-individual" style="color: #000000">Activating a Popl Device</a>
                <a href="#BuildingyourProfile" class="faq-app-category-individual" style="color: #000000">Building your Profile</a>
                <a href="#PoplAppFeatures" class="faq-app-category-individual" style="color: #000000">Popl App Features</a>
                <a href="#YourConnections" class="faq-app-category-individual" style="color: #000000">Your Connections</a>
            </div>
            <div class="faq-plus-app-container" id="easy-faq-app-default-display" style="display: block;">
                <div class="faq-plus-accordian">
                    <section id="TheBasics" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">The Basics</h2>
                        <div id="how-to-setup--with-a-popl-device--" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-0-0"> <label for="toggle-TheBasics-0-0" class="faqPlusAppTitle" itemprop="name">How to setup (with a Popl device)</label>
                            <div class="faqPlusAppContent" data-search-id="62678b1b7b993f38f913cfd5" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/070R0JvpskE" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-new-iphones--xr--xs--11--12--13--14-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-1-0"> <label for="toggle-TheBasics-1-0" class="faqPlusAppTitle" itemprop="name">Popping to new iPhones (XR, XS, 11, 12, 13, 14)</label>
                            <div class="faqPlusAppContent" data-search-id="62678b407b993f38f913cfd6" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/33dzv874RM4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-androids" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-2-0"> <label for="toggle-TheBasics-2-0" class="faqPlusAppTitle" itemprop="name">Popping to Androids</label>
                            <div class="faqPlusAppContent" data-search-id="626af76dd516a8658cfa3fc9" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ConVMLOg_Rw" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-device" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-TheBasics-3-0"> <label for="toggle-TheBasics-3-0" class="faqPlusAppTitle" itemprop="name">Activating a Popl Device</label>
                            <div class="faqPlusAppContent" data-search-id="62678b867b993f38f913cfd7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="OnboardingSetup" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">Onboarding/Setup</h2>
                        <div id="how-to-setup--with-a-popl-device--" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-0-1"> <label for="toggle-OnboardingSetup-0-1" class="faqPlusAppTitle" itemprop="name">How to setup (with a Popl device)</label>
                            <div class="faqPlusAppContent" data-search-id="6238c91d807f39a8463f63b1" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/070R0JvpskE" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="how-to-setup--without-a-popl-device-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-OnboardingSetup-1-1"> <label for="toggle-OnboardingSetup-1-1" class="faqPlusAppTitle" itemprop="name">How to setup (without a Popl device)</label>
                            <div class="faqPlusAppContent" data-search-id="6238c929807f39a8463f63b2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="HowtoPop8482" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">How to Pop™</h2>
                        <div id="popping-to-new-iphones--xr--xs--11--12--13--14-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-0-2"> <label for="toggle-HowtoPop8482-0-2" class="faqPlusAppTitle" itemprop="name">Popping to new iPhones (XR, XS, 11, 12, 13, 14)</label>
                            <div class="faqPlusAppContent" data-search-id="622a4de7fb01ef27ef45d5b7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/33dzv874RM4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-older-iphones--7--8--x-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-1-2"> <label for="toggle-HowtoPop8482-1-2" class="faqPlusAppTitle" itemprop="name">Popping to older iPhones (7, 8, X)</label>
                            <div class="faqPlusAppContent" data-search-id="622a4e85fb01ef27ef45d5b8" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/oQrysrgX3gI" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-to-androids" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-2-2"> <label for="toggle-HowtoPop8482-2-2" class="faqPlusAppTitle" itemprop="name">Popping to Androids</label>
                            <div class="faqPlusAppContent" data-search-id="622a50affb01ef27ef45d5c1" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ConVMLOg_Rw" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-your-qr-popcode" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-HowtoPop8482-3-2"> <label for="toggle-HowtoPop8482-3-2" class="faqPlusAppTitle" itemprop="name">Popping with your QR PopCode</label>
                            <div class="faqPlusAppContent" data-search-id="622a50f6fb01ef27ef45d5c2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9sza9_FXVc4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="PoppingwithDifferentDevices" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">Popping with Different Devices</h2>
                        <div id="popping-with-a-phone-tag--popl-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-0-3"> <label for="toggle-PoppingwithDifferentDevices-0-3" class="faqPlusAppTitle" itemprop="name">Popping with a Phone Tag (Popl)</label>
                            <div class="faqPlusAppContent" data-search-id="622a516dfb01ef27ef45d5c4" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/FEibKiRvVCo" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/1IqJHpPTI7U" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-popl-card" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-1-3"> <label for="toggle-PoppingwithDifferentDevices-1-3" class="faqPlusAppTitle" itemprop="name">Popping with a Popl Card</label>
                            <div class="faqPlusAppContent" data-search-id="622a5176fb01ef27ef45d5c5" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/2sgAuh8h_Jo" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/XSl1rZWWqi0" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-popl-band" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-2-3"> <label for="toggle-PoppingwithDifferentDevices-2-3" class="faqPlusAppTitle" itemprop="name">Popping with a Popl Band</label>
                            <div class="faqPlusAppContent" data-search-id="622a51a5fb01ef27ef45d5c6" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/bLXUN88q_nM" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/UKJnrp4BK1E" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-popl-keychain" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-3-3"> <label for="toggle-PoppingwithDifferentDevices-3-3" class="faqPlusAppTitle" itemprop="name">Popping with a Popl Keychain</label>
                            <div class="faqPlusAppContent" data-search-id="622a51dafb01ef27ef45d5c7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/v_hFb2tZDQQ" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/0NOi__9U67I" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-popl-xl" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-4-3"> <label for="toggle-PoppingwithDifferentDevices-4-3" class="faqPlusAppTitle" itemprop="name">Popping with a Popl XL</label>
                            <div class="faqPlusAppContent" data-search-id="622a51fefb01ef27ef45d5c9" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/fhrMyujQJLA" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/9HDRhXtwcqk" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popping-with-a-phone-case" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoppingwithDifferentDevices-5-3"> <label for="toggle-PoppingwithDifferentDevices-5-3" class="faqPlusAppTitle" itemprop="name">Popping with a Phone Case</label>
                            <div class="faqPlusAppContent" data-search-id="622a52befb01ef27ef45d5d0" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p>Popping to iPhones:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/5joBO2AQtwk" frameborder="0"></iframe>
                                    <p></p>
                                    <p>Popping to Androids:</p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/Jse6nx-OwPI" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="ActivatingaPoplDevice" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">Activating a Popl Device</h2>
                        <div id="activating-a-phone-tag--popl-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-0-4"> <label for="toggle-ActivatingaPoplDevice-0-4" class="faqPlusAppTitle" itemprop="name">Activating a Phone Tag (Popl)</label>
                            <div class="faqPlusAppContent" data-search-id="622a5410fb01ef27ef45d5d7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/_P2NlYVJX7o" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-card" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-1-4"> <label for="toggle-ActivatingaPoplDevice-1-4" class="faqPlusAppTitle" itemprop="name">Activating a Popl Card</label>
                            <div class="faqPlusAppContent" data-search-id="622a54bbfb01ef27ef45d5d9" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/rY9mhXea3W8" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-band" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-2-4"> <label for="toggle-ActivatingaPoplDevice-2-4" class="faqPlusAppTitle" itemprop="name">Activating a Popl Band</label>
                            <div class="faqPlusAppContent" data-search-id="622a54d9fb01ef27ef45d5da" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ae8k7z0E9qI" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-keychain" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-3-4"> <label for="toggle-ActivatingaPoplDevice-3-4" class="faqPlusAppTitle" itemprop="name">Activating a Popl Keychain</label>
                            <div class="faqPlusAppContent" data-search-id="622a54f7fb01ef27ef45d5dc" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/CnlWjJM09YY" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-popl-xl" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-4-4"> <label for="toggle-ActivatingaPoplDevice-4-4" class="faqPlusAppTitle" itemprop="name">Activating a Popl XL</label>
                            <div class="faqPlusAppContent" data-search-id="622a5545fb01ef27ef45d5df" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/JjpUXKap_wA" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="activating-a-phone-case" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-ActivatingaPoplDevice-5-4"> <label for="toggle-ActivatingaPoplDevice-5-4" class="faqPlusAppTitle" itemprop="name">Activating a Phone Case</label>
                            <div class="faqPlusAppContent" data-search-id="622a5574fb01ef27ef45d5e2" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/LxQFEBp0_qw" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="BuildingyourProfile" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">Building your Profile</h2>
                        <div id="edit-profile-details" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-0-5"> <label for="toggle-BuildingyourProfile-0-5" class="faqPlusAppTitle" itemprop="name">Edit Profile Details</label>
                            <div class="faqPlusAppContent" data-search-id="622a55f6fb01ef27ef45d5e4" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/IPfWKeGVVwI" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="adding-links-to-your-profile" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-1-5"> <label for="toggle-BuildingyourProfile-1-5" class="faqPlusAppTitle" itemprop="name">Adding Links to your Profile</label>
                            <div class="faqPlusAppContent" data-search-id="622a5602fb01ef27ef45d5e6" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/bJ5YZuiIPZQ" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="highlighting-links" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-2-5"> <label for="toggle-BuildingyourProfile-2-5" class="faqPlusAppTitle" itemprop="name">Highlighting Links</label>
                            <div class="faqPlusAppContent" data-search-id="622a563cfb01ef27ef45d5e7" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/hYVL80EcRvc" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="custom-link-icons--pro-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-3-5"> <label for="toggle-BuildingyourProfile-3-5" class="faqPlusAppTitle" itemprop="name">Custom Link Icons (PRO)</label>
                            <div class="faqPlusAppContent" data-search-id="622a5670fb01ef27ef45d5e8" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/s8K9sOKWGnU" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="toggling-links-on-off" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-4-5"> <label for="toggle-BuildingyourProfile-4-5" class="faqPlusAppTitle" itemprop="name">Toggling Links On/Off</label>
                            <div class="faqPlusAppContent" data-search-id="622a5796fb01ef27ef45d5ea" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/sOtCnYH3RE8" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="custom-link-titles" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-5-5"> <label for="toggle-BuildingyourProfile-5-5" class="faqPlusAppTitle" itemprop="name">Custom Link Titles</label>
                            <div class="faqPlusAppContent" data-search-id="622a57bdfb01ef27ef45d5eb" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/mLjTlTN6DmU" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="custom-contact-card" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-BuildingyourProfile-6-5"> <label for="toggle-BuildingyourProfile-6-5" class="faqPlusAppTitle" itemprop="name">Custom Contact Card</label>
                            <div class="faqPlusAppContent" data-search-id="622a57e7fb01ef27ef45d5ec" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/vtgZZ4dixv8" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="PoplAppFeatures" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">Popl App Features</h2>
                        <div id="popl-direct-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-0-6"> <label for="toggle-PoplAppFeatures-0-6" class="faqPlusAppTitle" itemprop="name">Popl Direct™</label>
                            <div class="faqPlusAppContent" data-search-id="622fdfefbb67a0c7895ac811" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/k0VxorHMNkY" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="lead-capture-mode" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-1-6"> <label for="toggle-PoplAppFeatures-1-6" class="faqPlusAppTitle" itemprop="name">Lead Capture Mode</label>
                            <div class="faqPlusAppContent" data-search-id="622fe02bbb67a0c7895ac812" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/roJebF2tYz4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="the-share-tab" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-2-6"> <label for="toggle-PoplAppFeatures-2-6" class="faqPlusAppTitle" itemprop="name">The Share Tab</label>
                            <div class="faqPlusAppContent" data-search-id="622fe063bb67a0c7895ac818" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/WW-U7EgFiUw" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="custom-qr-code--pro-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-3-6"> <label for="toggle-PoplAppFeatures-3-6" class="faqPlusAppTitle" itemprop="name">Custom QR Code (PRO)</label>
                            <div class="faqPlusAppContent" data-search-id="622fe094bb67a0c7895ac819" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/UndyQ01BtyY" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="personal---business-mode--pro-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-4-6"> <label for="toggle-PoplAppFeatures-4-6" class="faqPlusAppTitle" itemprop="name">Personal / Business Mode (PRO)</label>
                            <div class="faqPlusAppContent" data-search-id="622fe10fbb67a0c7895ac81a" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/I5ERihh4G48" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="insights-tab" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-5-6"> <label for="toggle-PoplAppFeatures-5-6" class="faqPlusAppTitle" itemprop="name">Insights Tab</label>
                            <div class="faqPlusAppContent" data-search-id="622fe149bb67a0c7895ac81c" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/WXZt1JWx5iY" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="popl-pay-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-6-6"> <label for="toggle-PoplAppFeatures-6-6" class="faqPlusAppTitle" itemprop="name">Popl Pay™</label>
                            <div class="faqPlusAppContent" data-search-id="622fe223bb67a0c7895ac81e" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/CLgjR2Jiu_0" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="creating-email-signatures" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-PoplAppFeatures-7-6"> <label for="toggle-PoplAppFeatures-7-6" class="faqPlusAppTitle" itemprop="name">Creating Email Signatures</label>
                            <div class="faqPlusAppContent" data-search-id="622fe26bbb67a0c7895ac81f" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/kFiXbqGBYKY" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="YourConnections" class="faq-plus-accordian-section">
                        <h2 class="faqPlusAppFaqCategory">Your Connections</h2>
                        <div id="exchange-contact-button" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-0-7"> <label for="toggle-YourConnections-0-7" class="faqPlusAppTitle" itemprop="name">Exchange Contact Button</label>
                            <div class="faqPlusAppContent" data-search-id="622fe448bb67a0c7895ac821" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/ShaLQkrq9cc" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="connections-tab" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-1-7"> <label for="toggle-YourConnections-1-7" class="faqPlusAppTitle" itemprop="name">Connections Tab</label>
                            <div class="faqPlusAppContent" data-search-id="622fe479bb67a0c7895ac823" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/aUNexwrgh_4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="business-card-scanner--pro-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-2-7"> <label for="toggle-YourConnections-2-7" class="faqPlusAppTitle" itemprop="name">Business Card Scanner (PRO)</label>
                            <div class="faqPlusAppContent" data-search-id="622fe4bfbb67a0c7895ac824" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/vqSCJ0R45yA" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="the-pop-map" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-3-7"> <label for="toggle-YourConnections-3-7" class="faqPlusAppTitle" itemprop="name">The Pop Map</label>
                            <div class="faqPlusAppContent" data-search-id="622fe4f9bb67a0c7895ac826" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/sRV44dVhSvU" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="exporting-connections--to-a-crm-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-4-7"> <label for="toggle-YourConnections-4-7" class="faqPlusAppTitle" itemprop="name">Exporting Connections (to a CRM)</label>
                            <div class="faqPlusAppContent" data-search-id="622fe529bb67a0c7895ac82c" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/84CHjkKgwb0" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="groups--pro-" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-5-7"> <label for="toggle-YourConnections-5-7" class="faqPlusAppTitle" itemprop="name">Groups (PRO)</label>
                            <div class="faqPlusAppContent" data-search-id="622fe57fbb67a0c7895ac82d" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/HBhX6qB7ADA" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div id="lead-capture-mode" class="faqPlusAppFaq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                            <input type="checkbox" class="faqPlusAppToggle" id="toggle-YourConnections-6-7"> <label for="toggle-YourConnections-6-7" class="faqPlusAppTitle" itemprop="name">Lead Capture Mode</label>
                            <div class="faqPlusAppContent" data-search-id="622fe5c7bb67a0c7895ac82f" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                <div class="faqPlusAppAnswer" itemprop="text">
                                    <p></p>
                                    <iframe allowfullscreen="" width="auto" height="auto" src="https://www.youtube.com/embed/roJebF2tYz4" frameborder="0"></iframe>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <partial name="LearnZapScript" />

  