@using Microsoft.AspNetCore.Http.Extensions
@inject Grand.Business.Storage.Interfaces.IPictureService pictureService
@inject SeoSettings seoSettings
@{
    Layout = "_PoplSingleColumn";
}

@section meta {
    @if (seoSettings.OpenGraphMetaTags)
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@seoSettings.DefaultTitle" />
        <meta property="og:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="og:image" content="@picture" />
        }
        <meta property="og:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
    @if (seoSettings.TwitterMetaTags)
    {
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:title" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="twitter:image" content="@picture" />
        }

        <meta property="twitter:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
}

@*سی اس اس از استایل اصلی میاد*@

<div class="what-is-zap-page">

    <div class="what-is-zap-page-container">

            <div class="top-header">
                @Loc["zap.what-is-zap-page.top-header"]
            </div>

            <div class="top-image-container">
                <img class="top-image" src="~/popl/images/whatiszap/what_is_zap_top.png" />
            </div>


            <p class="what-is-zap-detail">
                @Loc["zap.what-is-zap-page.detail"]
            </p>

            <div>
                <video class="what-is-zap-vidio" loop
                   autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/what-is-zap/GetUserProjectVideo.mp4" type="video/mp4">
                </video>
            </div>


            <div class="bottom-seciton">
                
                
                <image src="/popl/images/whatiszap/mobile-with-hand.png" />

                <div class="text-top-right-container">
                    <div class="text-header">@Loc["zap.what-is-zap-page.bottom-section.top-right.header"]</div>
                    <p class="text-detail">@Loc["zap.what-is-zap-page.bottom-section.top-right.detail"]</p>
                </div>

                <div class="top-right-pointer-container">
                    <div class="point top-right-point"></div>
                    <div class="point bottom-left-point"></div>
                </div>




                <div class="text-top-left-container">
                    <div class="text-header">@Loc["zap.what-is-zap-page.bottom-section.top-right.header"]</div>
                    <p class="text-detail">@Loc["zap.what-is-zap-page.bottom-section.top-right.detail"]</p>
                </div>

                <div class="top-left-pointer-container">
                    <div class="point top-left-point"></div>
                    <div class="point bottom-right-point"></div>
                </div>

                
            </div>

            

            
    </div>

</div>
