@using Microsoft.AspNetCore.Http.Extensions
@inject Grand.Business.Storage.Interfaces.IPictureService pictureService
@inject SeoSettings seoSettings
@{
    Layout = "_PoplSingleColumn";
}

@section meta {
    @if (seoSettings.OpenGraphMetaTags)
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@seoSettings.DefaultTitle" />
        <meta property="og:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="og:image" content="@picture" />
        }
        <meta property="og:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
    @if (seoSettings.TwitterMetaTags)
    {
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:title" content="@seoSettings.DefaultTitle" />
        <meta property="twitter:description" content="@Html.Encode(seoSettings.DefaultMetaDescription)" />
        @if (!String.IsNullOrWhiteSpace(seoSettings.StorePictureId))
        {
            var picture = await pictureService.GetPictureUrl(seoSettings.StorePictureId);
            <meta property="twitter:image" content="@picture" />
        }

        <meta property="twitter:url" content="@this.Url.ActionContext.HttpContext.Request.GetEncodedUrl()" />
    }
}

<div class="why-zap-page">

    <div class="why-zap-page-container">
            <div class="header">

                @*<img src='/popl/images/whyzap/1Raw.jpg' />*@

                <h1>چرا زپ را انتخاب کنم؟</h1>

                <a href="/collections/all-products" class="l-btn">خرید زپ</a>

            </div>

            <div class="detail">
                <h2>مزیت های زپ در مقایسه با سایرین</h2>

                <p>
                    <span class="arrow-left"></span> <span>اپلیکیشن توسعه یافته بومی</span>
                </p>

                <p>
                    <span class="arrow-left"></span> <span>پشتیبانی رایگان کاربران</span>
                </p>

                <p>
                    <span class="arrow-left"></span> <span>حضور در بازارهای معتبر اندروید و آی او اس (گوگل پلی و اپ استور)</span>
                </p>

                <p>
                    <span class="arrow-left"></span> <span>کیفیت بالای تگ ها در انتقال اطلاعات</span>
                </p>

                <p>
                    <span class="arrow-left"></span> <span>تولید زپ با طرح سفارشی حتی در سفارش های با تعداد کم</span>
                </p>

                <p>
                    <span class="arrow-left"></span> <span>تنوع مناسب شبکه های اجتماعی قابل استفاده</span>
                </p>

                <p>
                    <span class="arrow-left"></span> <span>اپلیکیشن رایگان</span>
                </p>
            </div>

            <div class="img-bottom-container">
                <img src='/popl/images/whyzap/zap mission.png' />
            </div>
    </div>
       
</div>