@model ConfigurationModel
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = "_ConfigurePlugin";
}
@{
    //page title
    ViewBag.Title = Loc["Widgets.RepresentationRequest.Manage"];
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-sitemap"></i>
                    @Loc["Widgets.RepresentationRequest.Manage"]
                </div>
                @*<div class="actions btn-group btn-group-devided util-btn-margin-bottom-5">
                    <a href="@Url.Action("Create", "WidgetsRepresentationRequest")" class="btn green">
                        <i class="fa fa-plus"></i><span class="hidden-xs"> @Loc["Admin.Common.AddNew"] </span>
                    </a>
                </div>*@
            </div>
            <div class="x_content">
                <div id="faq-grid"></div>
            </div>
            <div class="x_content form">
                <partial name="_Settings.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#faq-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "WidgetsRepresentationRequest"))",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("Delete", "WidgetsRepresentationRequest"))",
                        type: "POST",
                        dataType: "json",
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "FullName",
                title: "@Loc["Widgets.RepresentationRequest.Fields.FullName"]",
                width: 300,
                template: '<a class="k-link" href="Edit/#=Id#">#=FullName#</a>'
            },
            {
                command: [
                    {
                        name: "destroy",
                        text: "@Loc["Admin.Common.Delete"]"
                    }
                ],
                width: 200
            }
            ]
        });
    });
</script>

