@inject Grand.Business.Common.Interfaces.Directory.IGroupService groupService
@inject IWorkContext workContext
@inject IPageHeadBuilder pagebuilder
@inject Grand.Business.Common.Interfaces.Security.IPermissionService permissionService

@{
    var supportRtl = workContext.WorkingLanguage.Rtl;

    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] });
    var isAuthenticated = await groupService.IsRegistered(workContext.CurrentCustomer);
    var isCustomerImpersonated = workContext.OriginalCustomerIfImpersonated != null;
    var isAdminAccess = await permissionService.Authorize(Grand.Business.Common.Services.Security.StandardPermission.AccessAdminPanel);
}

@model CustomerInfoModel


@{
    var fullName = "";
    var userHasLogined = false;
    if(!string.IsNullOrEmpty(Model.LastName)){
        fullName = Model.FirstName + " " + Model.LastName;
        userHasLogined = true;
    }
}

<template>
    <div class="nav-item popl-header-links">
        <span class="nav-link">
            <b-icon icon="person-circle" :variant="[darkMode ? 'white' : 'dark']" v-b-toggle.sidebar-right></b-icon>
        </span>
        <template>
            <b-sidebar id="sidebar-right" body-class="user-panel" title=""
                @if (!supportRtl) { <text>right</text> } backdrop>

                @if(userHasLogined){
                    <div class="mySideAccoundContainer">
                        <div class="mySideRow">
                                <div class="mySideCol1"><b-icon icon="person-circle"></div>
                                <div class="mySideCol2">@fullName</div>
                        </div>
                        <div class="mySideRow">
                                    <div class="mySideCol1"><b-icon icon="person-circle"></div>
                                    <div class="mySideCol2">انتخاب زبان</div>
                                    <div class="mySideCol3"><partial name="_Selector_Language" /></div>
                        </div>
                        <div class="mySideRow">
                            <div class="mySideCol1"><b-icon icon="person-circle"></div>
                            <div class="mySideCol2">سفارش ها</div>
                        </div>
                        <div class="mySideRow">
                                <div class="mySideCol1"><b-icon icon="person-circle"></div>
                            <div class="mySideCol2">خروج</div>
                        </div>
                    </div>

                }
                else {

                        <div class="txtForUser">
                                    @Loc["Account.Login.NewCustomerText"]
                        </div>

                        <div class="login-container">
                            <a class="" href="@Url.RouteUrl("Login")">
                                    <img src="/popl/images/icon/header-side-links/login.png" style="width:20px;height:20px;">
                                        @*<b-icon icon="shield-lock"></b-icon>*@
                                <span class="">@Loc["Account.Login"]</span>
                            </a>
                            <div class="seprator"></div>
                            <a class="" href="@registerUrl">
                                        @*<b-icon icon="person"></b-icon>*@
                                <img src="/popl/images/icon/header-side-links/registration.png" alt="Bootstrap" style="width:20px;height:20px;">
                                <span class="">@Loc["Account.Register"]</span>
                            </a>
                        </div>

                }


               @* <partial name="_HeaderLinks" />*@
                

            </b-sidebar>
        </template>
    </div>
</template>