
<footer class="popl_footer">
   <div class="popl_container">
        <div class="logo">
            <img src="/popl/images/zap-white.png" />
        </div>

       <div class="links_section_container">
            <div>
                <ul>
                    <li class="section-header">@Loc["zap.header.products"]</li>
                    @await Component.InvokeAsync("PoplMenu")
                </ul>
            </div>
            <div>
                <ul>
                    <li class="section-header">@Loc["zap.footer.termsAndConditions"]</li>
                    <li>شرایط و قوانین</li>
                    <li>شرایط مرجوعی کالا</li>
                    
                </ul>
            </div>
            <div>
                <ul>
                    <li class="section-header">@Loc["zap.footer.cooperation"]</li>
                    <li>همکاری در فروش</li>
                    <li>درخواست نمایندگی</li>

                </ul>
            </div>
            <div>
                <ul>
                    <li class="section-header">@Loc["zap.footer.download_the_application"]</li>
                    <li>ios</li>
                    <li>اندروید</li>
                    
                </ul>
            </div>
            <div>
                <ul>
                    <li class="section-header">@Loc["zap.footer.contact_us"]</li>
                    <li>آدرس: تهران، خیابان ولیعصر، قبل</li>
                    <li>از پارک وی، کوچه تورج، پلاک 13</li>
                    <li>تلفن: 888888</li>
                    <li>ایمیل: amirhaghajani@gmail.com</li>
                    <li>پشتیبانی واتساپ: 555</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="section-header">@Loc["zap.footer.azp_on_social_networks"]</li>
                    
                    <li class="footer-social">
                        <img src="/popl/images/socialnetworks/Instagram.png" />
                        <img src="/popl/images/socialnetworks/Whatsapp.png" />
                        <img src="/popl/images/socialnetworks/Youtube.png" />
                        <img src="/popl/images/socialnetworks/Aparat.png" />
                    </li>

                </ul>
            </div>
       </div>

   </div>

    <div class="footer-right">
        کلیه حقوق این سایت متعلق به شرکت فناوران برتر است
    </div>
</footer>