<div class="popl_seciton">
    <div class="myPoplFeatures">
        <div class="popl_container">

            <div class="features__head">
                <div class="features__logo">
                    <img src="/popl/images/firstpage_poplFeatures/3- با زپ براحتی.png" loading="lazy">
                </div>

                <div class="features__title onlyPersian">
                    <h2>@Loc["zap.homepage.features.head"]</h2>
                </div>

                <div class="features__title onlyEnglish">
                    <h2>@Loc["zap.homepage.features.head"]</h2>
                </div>
                
            </div>

            <div class="features__tabs">

                <ul class="tabs-nav">
                    <li class="tab-1 tab-active">
                        <a href="javascript:void(0)" onclick="myPoplFeaturs.activateTab(this,'tab1')">
                            <div class="tabs__wrap">
                                <div class="tab__thumbnail">
                                    <img class="d-desktop"
                                         src="/popl/images/icon/featureTab/instant_icon_41e3be78-f1b2-407b-9f8c-4b909ae790df_150x.webp" alt="image" loading="lazy">
                                    <img class="d-mob"
                                         src="/popl/images/icon/featureTab/share_mobile_150x.webp" alt="image" loading="lazy">
                                </div>
                                <div class="tab__title onlyEnglish">@Loc["zap.homepage.features.tab1.title"]</div>
                                <div class="tab__title onlyPersian">@Loc["zap.homepage.features.tab1.title"]</div>
                            </div>
                        </a>
                    </li>

                    <li class="tab-2">
                        <a href="javascript:void(0)" onclick="myPoplFeaturs.activateTab(this,'tab2')">
                            <div class="tabs__wrap">
                                <div class="tab__thumbnail">
                                    <div id="unreadDot-2" class="unread-dots" style="display: none;"></div>
                                    <img class="d-desktop" src="/popl/images/icon/featureTab/2022captureLeads_150x.webp" alt="image" loading="lazy">
                                    @*<img class="d-mob" 
                                        src="/popl/images/icon/featureTab/capture-leads_82e44fa9-cf4b-4a09-b9d4-a88ca39f0b7e_150x.webp" alt="image" loading="lazy">*@

                                        <img class="d-mob"
                                         src="/popl/images/firstpage_poplFeatures/رصد لحظه ای شبکه ارتباطی آیکون بالای تیتر copy.png" alt="image" loading="lazy">
                                </div>
                                <div class="tab__title onlyEnglish">@Loc["zap.homepage.features.tab2.title"]</div>
                                <div class="tab__title onlyPersian">@Loc["zap.homepage.features.tab2.title"]</div>
                            </div>
                        </a>
                    </li>

                    <li class="tab-3">
                        <a href="javascript:void(0)" onclick="myPoplFeaturs.activateTab(this,'tab3')" >
                            <div class="tabs__wrap">
                                <div class="tab__thumbnail">
                                    <div id="unreadDot-3" class="unread-dots" style="display: none;"></div>
                                    <img class="d-desktop" src="/popl/images/icon/featureTab/2022exportToCrm_150x.webp" alt="image" loading="lazy">
                                    @*<img class="d-mob" src="/popl/images/icon/featureTab/2022exportToCrm_150x.webp" alt="image" loading="lazy">*@

                                    <img class="d-mob" src="/popl/images/firstpage_poplFeatures/طرح دلخواه.png" alt="image" loading="lazy">

                                </div>
                                <div class="tab__title onlyEnglish">@Loc["zap.homepage.features.tab3.title"]</div>
                                <div class="tab__title onlyPersian">@Loc["zap.homepage.features.tab3.title"]</div>
                            </div>
                        </a>
                    </li>

                    <li class="tab-4">
                        <a href="javascript:void(0)" onclick="myPoplFeaturs.activateTab(this,'tab4')">
                            <div class="tabs__wrap">
                                <div class="tab__thumbnail">
                                    <div id="unreadDot-4" class="unread-dots" style="display: none;"></div>
                                    <img class="d-desktop" src="/popl/images/icon/featureTab/2022growYourbusiness_150x.webp" alt="image" loading="lazy">
                                    @*<img class="d-mob" src="/popl/images/icon/featureTab/2022growYourbusiness_150x.webp" alt="image" loading="lazy">*@
                                    <img class="d-mob" src="/popl/images/firstpage_poplFeatures/مدل های متنوع آیکون بالای تیتر.png" alt="image" loading="lazy">
                                </div>
                                <div class="tab__title onlyEnglish">@Loc["zap.homepage.features.tab4.title"]</div>
                                <div class="tab__title onlyPersian">@Loc["zap.homepage.features.tab4.title"]</div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="tabs-stage">

                   <div class="tab__content" id="tab-1">
                      <div class="content_main">
                         <div class="tab__content-head">
                                <h3>@Loc["zap.homepage.features.tab_content1.head"]</h3>
                         </div>
                         <div class="tab__content-details onlyEnglish">
                            <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.main.for_desk"]</p>
                            <p class="_forMob">@Loc["zap.homepage.features.tab_content1.main.for_mob"]</p>
                         </div>

                         <div class="tab__content-details onlyPersian">
                                <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.main.for_desk"]</p>
                            <p class="_forMob">@Loc["zap.homepage.features.tab_content1.main.for_desk"]</p>
                         </div>
                      </div>
                      <div class="tab__content-wrap">
                         <div class="tab__left">
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  <img class="tabInner--icons" 
                                        src="/popl/images/icon/featureTab/tap-1_150x.webp" alt="img" loading="lazy">
                                        <!-- <img class="d-mob" src="//cdn.shopify.com/s/files/1/0257/5315/7735/files/share_mobile_150x.png?v=1646901626" alt="img"> -->
                               </div>
                               <div class="l-tag__details onlyEnglish">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail1.head"]</h4>
                                  <h4 class="_forMob">@Loc["zap.homepage.features.tab_content1.detail1.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail1.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content1.detail1.p.for_mob"]</p>
                               </div>
                               <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content1.detail1.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail1.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content1.detail1.p.for_desk"]</p>
                               </div>
                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  <img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/scan_150x.webp" alt="img" loading="lazy">
                                    <!-- <img class="d-mob" src="//cdn.shopify.com/s/files/1/0257/5315/7735/files/sample-icon-for-mobile_150x.png?v=1640751263" alt="img"> -->
                               </div>
                               <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail2.head"]</h4>
                                  <h4 class="_forMob">@Loc["zap.homepage.features.tab_content1.detail2.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail2.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content1.detail2.p.for_mob"]</p>
                               </div>
                               <div class="l-tag__details onlyPersian">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content1.detail2.head"]</h4>
                                        <p class="_forDesk">
                                            @Loc["zap.homepage.features.tab_content1.detail2.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content1.detail2.p.for_desk"]</p>
                               </div>

                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  <img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/send_150x.webp" alt="img" loading="lazy">
                                    <!-- <img class="d-mob" src="//cdn.shopify.com/s/files/1/0257/5315/7735/files/sample-icon-for-mobile_150x.png?v=1640751263" alt="img"> -->
                               </div>
                               <div class="l-tag__details onlyEnglish">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content1.detail3.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail3.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content1.detail3.p.for_mob"]</p>
                               </div>

                               <div class="l-tag__details onlyPersian">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail3.head"]</h4>
                                  <h4 class="_forMob">@Loc["zap.homepage.features.tab_content1.detail3.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content1.detail3.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content1.detail3.p.for_desk"]</p>
                               </div>
                            </div>
                         </div>
                         <div class="tab__right">
                            <div class="tab__thumb"> 
                                <img src="/popl/images/firstpage_poplFeatures/middle/اشتراک گذاری بسیار سریع.jpg" alt="img" loading="lazy">
                            </div>
                            <div class="tab__btn-wrap d-mobile">
                                    <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                                @*<a class="l-btn" style="padding-left: 103px; padding-right: 103px; background-color: white; color: black; margin-top: 10px" 
                                    href="https://popl.co/pages/popl-teams">For Teams</a>*@
                            </div>
                         </div>
                      </div>
                      <div class="tab__btn-wrap d-desktop">
                            <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                          @*<a class="l-btn" style="padding-left: 80px; padding-right: 80px; background-color: white; color: black; margin-top: 10px" 
                            href="https://popl.co/pages/popl-teams">For Teams</a>*@
                      </div>
                   </div>
                   
                   <div class="tab__content dontShowWithScale" id="tab-2">
                      <div class="content_main">
                         <div class="tab__content-head">
                                <h3>@Loc["zap.homepage.features.tab_content2.head"]</h3>
                         </div>
                         <div class="tab__content-details onlyEnglish">
                            <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.main.for_desk"]</p>
                            <p class="_forMob">@Loc["zap.homepage.features.tab_content2.main.for_mob"]</p>
                         </div>
                         <div class="tab__content-details onlyPersian">
                                <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.main.for_desk"]</p>
                                <p class="_forMob">@Loc["zap.homepage.features.tab_content2.main.for_desk"]</p>
                         </div>
                      </div>
                      <div class="tab__content-wrap">
                         <div class="tab__left">
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  <img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/business-card_150x.webp" alt="img" loading="lazy">
                                    <!-- <img class="d-mob" src="//cdn.shopify.com/s/files/1/0257/5315/7735/files/2022captureLeads_150x.png?v=1645800966" alt="img"> -->
                               </div>
                               <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content2.detail1.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail1.p.for_desk"]</p>
                                        <p class="_forMob">
                                            @Loc["zap.homepage.features.tab_content2.detail1.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content2.detail1.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail1.p.for_desk"]</p>
                                        <p class="_forMob">
                                            @Loc["zap.homepage.features.tab_content2.detail1.p.for_desk"]
                                        </p>
                                    </div>
                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  <img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/lead-capture_150x.webp" alt="img" loading="lazy">
                                    <!-- <img class="d-mob" src="//cdn.shopify.com/s/files/1/0257/5315/7735/files/sample-icon-for-mobile_150x.png?v=1640751263" alt="img"> -->
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content2.detail2.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail2.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content2.detail2.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content2.detail2.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail2.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content2.detail2.p.for_desk"]</p>
                               </div>
                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  <img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/automatic-followup_150x.webp" alt="img" loading="lazy">
                                    <!-- <img class="d-mob" src="//cdn.shopify.com/s/files/1/0257/5315/7735/files/sample-icon-for-mobile_150x.png?v=1640751263" alt="img"> -->
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content2.detail3.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail3.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content2.detail3.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content2.detail3.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content2.detail3.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content2.detail3.p.for_desk"]</p>
                               </div>
                            </div>
                         </div>
                         <div class="tab__right">
                            <div class="tab__thumb">
                                <img src="/popl/images/firstpage_poplFeatures/middle/رصد لحظه ای شبکه ارتباطی.png" alt="img" loading="lazy">
                            </div>
                            <div class="tab__btn-wrap d-mobile">
                                <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                                @*<a class="l-btn" style="padding-left: 103px; padding-right: 103px; background-color: white; color: black; margin-top: 10px" 
                                    href="https://popl.co/pages/popl-teams">For Teams</a>*@
                            </div>
                         </div>
                      </div>
                      <div class="tab__btn-wrap d-desktop">
                          <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                          @*<a class="l-btn" style="padding-left: 80px; padding-right: 80px; background-color: white; color: black; margin-top: 10px" 
                            href="https://popl.co/pages/popl-teams">For Teams</a>*@
                       </div>
                   </div>
                   
                   <div class="tab__content dontShowWithScale" id="tab-3">
                      <div class="content_main">
                         <div class="tab__content-head">
                            <h3>@Loc["zap.homepage.features.tab_content3.head"]</h3>
                         </div>
                         <div class="tab__content-details onlyEnglish">
                            <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.main.for_desk"]</p>
                            <p class="_forMob">@Loc["zap.homepage.features.tab_content3.main.for_desk"]</p>
                         </div>

                         <div class="tab__content-details onlyPersian">
                                <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.main.for_desk"]</p>
                                <p class="_forMob">@Loc["zap.homepage.features.tab_content3.main.for_desk"]</p>
                         </div>
                      </div>
                      <div class="tab__content-wrap">
                         <div class="tab__left">
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  @*<img class="tabInner--icons" 
                                    src="/popl/images/yes-it-works_150x.webp" alt="img" loading="lazy">*@

                                    <img class="tabInner--icons"
                                             src="/popl/images/firstpage_poplFeatures/rightSideIcons/طرح دلخواه هر طرحی copy.png" alt="img" loading="lazy">
                                    
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content3.detail1.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail1.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content3.detail1.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content3.detail1.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail1.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content3.detail1.p.for_desk"]</p>
                                    </div>

                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  @*<img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/for-teams_150x.webp" alt="img" loading="lazy">*@

                                    <img class="tabInner--icons"
                                             src="/popl/images/firstpage_poplFeatures/rightSideIcons/طرح دلخواه صاحب کسب و کار هستید.png" alt="img" loading="lazy">
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content3.detail2.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail2.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content3.detail2.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content3.detail2.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail2.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content3.detail2.p.for_desk"]</p>
                                    </div>
                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  @*<img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/integrate_150x.webp" alt="img" loading="lazy">*@
                                    <img class="tabInner--icons"
                                             src="/popl/images/firstpage_poplFeatures/rightSideIcons/طرح دلخواه چطور سفارش بدم.png" alt="img" loading="lazy">
                                    
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content3.detail3.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail3.p.for_desk"]</p>
                                        <p class="_forMob">
                                            @Loc["zap.homepage.features.tab_content3.detail3.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content3.detail3.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content3.detail3.p.for_desk"]</p>
                                        <p class="_forMob">
                                            @Loc["zap.homepage.features.tab_content3.detail3.p.for_desk"]
                                        </p>
                                    </div>
                            </div>
                         </div>
                         <div class="tab__right">
                            <div class="tab__thumb">
                                    <img src="/popl/images/firstpage_poplFeatures/middle/طرح دلخواه copy.png" alt="img" loading="lazy">
                            </div>
                            <div class="tab__btn-wrap d-mobile">
                                    <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                                @*<a class="l-btn" style="padding-left: 103px; padding-right: 103px; background-color: white; color: black; margin-top: 10px" 
                                    href="https://popl.co/pages/popl-teams">For Teams</a>*@
                            </div>
                         </div>
                      </div>
                      <div class="tab__btn-wrap d-desktop">
                            <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                          @*<a class="l-btn" style="padding-left: 80px; padding-right: 80px; background-color: white; color: black; margin-top: 10px" 
                            href="https://popl.co/pages/popl-teams">For Teams</a>*@
                       </div>
                   </div>

                   <div class="tab__content dontShowWithScale" id="tab-4">
                      <div class="content_main">
                         <div class="tab__content-head">
                                <h3>@Loc["zap.homepage.features.tab_content4.head"]</h3>
                         </div>
                         <div class="tab__content-details onlyEnglish">
                            <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.main.for_desk"]</p>
                            <p class="_forMob">@Loc["zap.homepage.features.tab_content4.main.for_mob"]</p>
                         </div>

                            <div class="tab__content-details onlyPersian">
                                <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.main.for_desk"]</p>
                                <p class="_forMob">@Loc["zap.homepage.features.tab_content4.main.for_desk"]</p>
                            </div>

                      </div>
                      <div class="tab__content-wrap">
                         <div class="tab__left">
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  @*<img class="tabInner--icons" 
                                        src="/popl/images/icon/featureTab/real-connections_150x.webp" alt="img" loading="lazy">*@

                                    <img class="tabInner--icons"
                                             src="/popl/images/firstpage_poplFeatures/rightSideIcons/مدل های متنوع زپ دایره ای.png" alt="img" loading="lazy">
                                        
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content4.detail1.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail1.p.for_desk"]</p>
                                        <p class="_forMob">
                                            @Loc["zap.homepage.features.tab_content4.detail1.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail1.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content4.detail1.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail1.p.for_desk"]</p>
                                        <p class="_forMob">
                                            @Loc["zap.homepage.features.tab_content4.detail1.p.for_desk"]
                                        </p>
                                    </div>
                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  @*<img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/more-followers_150x.webp" alt="img" loading="lazy">*@

                                        <img class="tabInner--icons"
                                             src="/popl/images/firstpage_poplFeatures/rightSideIcons/مدل های متنوع استند زپ.png" alt="img" loading="lazy">
                                    
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content4.detail2.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail2.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content4.detail2.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail2.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content4.detail2.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail2.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content4.detail2.p.for_desk"]</p>
                                    </div>
                            </div>
                            <div class="l-tag">
                               <div class="l-tag__thumb">
                                  @*<img class="tabInner--icons" 
                                    src="/popl/images/icon/featureTab/support_150x.webp" alt="img" loading="lazy">*@

                                        <img class="tabInner--icons"
                                             src="/popl/images/firstpage_poplFeatures/rightSideIcons/مدل های متنوع سایر مدل ها.png" alt="img" loading="lazy">
                                    
                               </div>
                                    <div class="l-tag__details onlyEnglish">
                                  <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content4.detail3.head"]</h4>
                                  <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail3.p.for_desk"]</p>
                                  <p class="_forMob">@Loc["zap.homepage.features.tab_content4.detail3.p.for_mob"]</p>
                               </div>

                                    <div class="l-tag__details onlyPersian">
                                        <h4 class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail3.head"]</h4>
                                        <h4 class="_forMob">@Loc["zap.homepage.features.tab_content4.detail3.head"]</h4>
                                        <p class="_forDesk">@Loc["zap.homepage.features.tab_content4.detail3.p.for_desk"]</p>
                                        <p class="_forMob">@Loc["zap.homepage.features.tab_content4.detail3.p.for_desk"]</p>
                                    </div>
                            </div>
                         </div>
                         <div class="tab__right">
                            <div class="tab__thumb">
                                    <img src="/popl/images/firstpage_poplFeatures/middle/مدل های متنوع copy.png" alt="img" loading="lazy">
                            </div>
                            <div class="tab__btn-wrap d-mobile">
                                    <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                                @*<a class="l-btn" style="padding-left: 103px; padding-right: 103px; background-color: white; color: black; margin-top: 10px" 
                                    href="https://popl.co/pages/popl-teams">For Teams</a>*@
                            </div>
                         </div>
                      </div>
                      <div class="tab__btn-wrap d-desktop">
                          <a class="l-btn" href="/collections/all-products">@Loc["zap.homepage.general.buy_now"]</a>
                          @*<a class="l-btn" style="padding-left: 80px; padding-right: 80px; background-color: white; color: black; margin-top: 10px" 
                            href="https://popl.co/pages/popl-teams">For Teams</a>*@
                       </div>
                   </div>
                </div>

            </div>
        </div>
    </div>
</div>

<partial name="Components/MyPoplFeatures/MyPoplFeaturesScript" />