
<div>
   <div class="myHomeMission">
      <div class="popl_container">
         <div class="mission__wrap_out">
            <div class="mission__head onlyEnglish">
               <h1>Our Mission</h1>
            </div>
            <div class="mission__head onlyPersian">
               <h1>ماموریت زپ</h1>
            </div>

            <div class="mission__hero onlyEnglish">
               <h2>@Loc["zap.homepage.mission.contex.s1"]</h2>
            </div>
            <div class="mission__hero onlyPersian">
               <h2>@Loc["zap.homepage.mission.contex.s1"]</h2>
            </div>

            <div class="mission__wrap">
               <div class="mission__content onlyEnglish">
                  <p>@Loc["zap.homepage.mission.contex.s2"]</p>
                  <p>@Loc["zap.homepage.mission.contex.s3"]</p>
                  <p>@Loc["zap.homepage.mission.contex.s4"]
               </div>

               <div class="mission__content onlyPersian">
                  <p>@Loc["zap.homepage.mission.contex.s2"]</p>
                  <p>@Loc["zap.homepage.mission.contex.s3"]</p>
                  <p>@Loc["zap.homepage.mission.contex.s4"]
               </div>

               <div class="mission__gallery">
                  <div class="mission__thumb d-desktop">
                      <img src="/popl/images/global-image_2480x.webp" alt="" loading="lazy"></div>
                  <div class="mission__thumb d-mob">
                      <img src="/popl/images/global-mobile_620x.webp" alt="" loading="lazy"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>