
<div id="mySlider" >
    
    <div class="popl_container">

        <div class="banner__title onlyEnglish">
            <h1 class="bold">@Loc["zap.homepage.slideshow.s1"]</h1>
        </div>

        <div class="banner__title onlyPersian">
            <h1 class="bold">@Loc["zap.homepage.slideshow.s1"]</h1>
        </div>

        <div id="mySliderTexts">
            <div class="onlyEnglish mySliderTexts">
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">@Loc["zap.homepage.slideshow.s2"]</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">@Loc["zap.homepage.slideshow.s3"]</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">@Loc["zap.homepage.slideshow.s4"]</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyEnglish">@Loc["zap.homepage.slideshow.s5"]</h2>
            </div>

            <div class="onlyPersian mySliderTexts">
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">@Html.Raw(@Loc["zap.homepage.slideshow.s2"])</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">@Html.Raw(@Loc["zap.homepage.slideshow.s3"])</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">@Html.Raw(@Loc["zap.homepage.slideshow.s4"])</h2>
                <h2 style="display:none" class="animate__animated animate__fadeIn onlyPersian">@Html.Raw(@Loc["zap.homepage.slideshow.s5"])</h2>

            </div>
        </div>
        

        <div class="banner__sub-title onlyEnglish">
            <h2>@Html.Raw(@Loc["zap.homepage.slideshow.subtitle"])</h2>
        </div>

        <div class="banner__sub-title onlyPersian">
            <h2></h2>
        </div>


    
        <div class="btnBuyNowContainer">
            <a class="btnBuyNow" href="/shop-all" title="BUY NOW">@Loc["zap.homepage.general.buy_now"]</a>
        </div>
        


        <div id="myVideos" >

            <div class="desktop_mode onlyEnglish">
                <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/desktop/Desktop_01_12.04.22.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/desktop/Banner_02_2022.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/desktop/Banner_03_2022.mp4" type="video/mp4">
                 </video>

                 <video style="display:none" 
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/desktop/Banner_04_2022.mp4" type="video/mp4">
                 </video>
            </div>

            <div class="mobile_mode onlyEnglish">
                <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                     <source src="/popl/video/mobile/Banner_01_Mobile_Updated.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/mobile/Mobile_Banner_Video_New_02.mp4" type="video/mp4">
                 </video>

                 <video style="display:none"
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/mobile/Banner_03_mobile.mp4" type="video/mp4">
                 </video>

                 <video style="display:none" 
                    autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/mobile/Mobile_Banner_Video_New_04.mp4" type="video/mp4">
                 </video>
            </div>


            <div class="desktop_mode onlyPersian">
                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>

                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>

                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>

                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>
            </div>

            <div class="mobile_mode onlyPersian">
                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>

                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>

                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>

                <video style="display:none"
                       autoplay="autoplay" muted="muted" preload="auto" playsinline>
                    <source src="/popl/video/home-farsi/film1.mp4" type="video/mp4">
                </video>
            </div>
        

        </div>

        <div class="banner__advantages"> 
            <div class="bannner__links onlyEnglish">
                <div class="bannner__links-thumb">
                    <img id="iconImg-1" src="popl/images/icon/instant_icon_41e3be78-f1b2-407b-9f8c-4b909ae790df_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>@Loc["zap.homepage.features.title.s1"]</h5>
                    <h3>@Loc["zap.homepage.features.context.s1"]</h3>
                </div>
            </div>
            <div class="bannner__links onlyPersian">
                <div class="bannner__links-thumb">
                    <img id="iconImg-1" src="popl/images/icon/instant_icon_41e3be78-f1b2-407b-9f8c-4b909ae790df_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>@Loc["zap.homepage.features.title.s1"]</h5>
                    <h3>@Loc["zap.homepage.features.context.s1"]</h3>
                </div>
            </div>


            <div class="bannner__links onlyEnglish">
                <div class="bannner__links-thumb">
                    <img id="iconImg-2" src="popl/images/icon/Popl_Icon_2x_1b3ac121-e843-4039-870e-399eb2dabe1f_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>@Loc["zap.homepage.features.title.s2"]</h5>
                    <h3>@Loc["zap.homepage.features.context.s2"]</h3>
                </div>
            </div>
            <div class="bannner__links onlyPersian">
                <div class="bannner__links-thumb">
                    <img id="iconImg-2" src="popl/images/icon/Popl_Icon_2x_1b3ac121-e843-4039-870e-399eb2dabe1f_150x.webp">
                </div>
                <div class="banner__links-text">
                    <h5>@Loc["zap.homepage.features.title.s2"]</h5>
                    <h3>@Loc["zap.homepage.features.context.s2"]</h3>
                </div>
            </div>


            <div class="bannner__links onlyEnglish">
                <div class="bannner__links-thumb">
                    <img id="iconImg-3" src="popl/images/icon/compaticle_icon_c821e9bc-e788-4e43-8166-fc3a1238ecce_150x.webp">
                </div> 
                <div class="banner__links-text"> 
                    <h5>@Loc["zap.homepage.features.title.s3"]</h5>
                    <h3>@Loc["zap.homepage.features.context.s3"]</h3>
                </div>
            </div>
            <div class="bannner__links onlyPersian">
                <div class="bannner__links-thumb">
                    <img id="iconImg-3" src="popl/images/icon/compaticle_icon_c821e9bc-e788-4e43-8166-fc3a1238ecce_150x.webp">
                </div> 
                <div class="banner__links-text"> 
                    <h5>@Loc["zap.homepage.features.title.s3"]</h5>
                    <h3>@Loc["zap.homepage.features.context.s3"]</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="Components/MyHomeSlider/MyHomeSliderScript" />