@model ShoppingCartModel

<div class="my-cart-summary-page" id="ordersummarypagecart" v-if="vmorder.cart">
    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_before" })
    <div v-if="typeof vmorder.cart.Items !== 'undefined' && vmorder.cart.Items.length > 0">
        <ul v-if="typeof vmorder.cart.Warnings !== 'undefined' && vmorder.cart.Warnings.length > 0" class="px-0 mb-3">
            <li v-for="item in vmorder.cart.Warnings">
                <div class="alert alert-danger mb-1">{{item}}</div>
            </li>
        </ul>

       

        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="col-12">
                <div class="form-row">
                    <div class="col-lg-8 col-12 cart-out-container">
                        <div class="removeAll-cart-button-container">
                            <a onclick="location.href='@(Url.RouteUrl("ClearCart"))'" class="removeAll-cart-button"><span>@Loc["shoppingcart.clearcart"]</span></a>
                        </div>

                        <div v-for="item in vmorder.cart.Items" class="shopping-cart-container">
                            <div class="image-container">
                                <a :href="'/' + item.ProductSeName">
                                    <img alt="item.Picture.AlternateText" :src="item.Picture.ImageUrl" title="item.Picture.Title" />
                                </a>
                            </div>
                            <div class="data-container">
                                <h3>
                                    <a :href="item.ProductUrl" class="product-name">
                                        {{item.ProductName}}
                                    </a>
                                </h3>
                                

                                <span v-if="vmorder.cart.ShowSku" class="sku-number">
                                    {{item.Sku}}
                                </span>
                                <div v-if="item.AttributeInfo !== ''" v-html="item.AttributeInfo" class="attributes small"></div>
                                <div v-if="item.WarehouseName !== null" v-html="item.WarehouseName" class="attributes small"></div>
                                <div v-if="item.VendorName !== null" v-html="item.VendorName" class="attributes small"></div>
                                <div v-if="item.AuctionInfo !== null" v-html="item.AuctionInfo" class="attributes small"></div>
                                <div v-if="item.RecurringInfo !== null" v-html="item.RecurringInfo" class="recurring-info"></div>
                                <div v-if="item.ReservationInfo !== null" v-html="item.ReservationInfo" class="rental-info attributes small"></div>
                                <div v-if="typeof item.Warnings !== 'undefined' && item.Warnings.length > 0" class="message-error small alert alert-danger mt-2 mb-0">
                                    <ul v-for="warning in item.Warnings" class="mb-0 p-0">
                                        <li>{{warning}}</li>
                                    </ul>
                                </div>


                                <div class="unit-price">
                                    <span class="product-unit-price price">{{item.UnitPrice}}</span>
                                    <div v-if="item.UnitPriceWithoutDiscountValue != item.UnitPriceValue && item.UnitPriceWithoutDiscountValue > 0" class="text-center">
                                        <del class="small text-danger">{{item.UnitPriceWithoutDiscount}}</del>
                                    </div>
                                </div>

                                <div class="product-quantity-box">
                                    <div v-if="vmorder.cart.IsEditable" >
                                        <div v-if="item.AllowedQuantities[0]" class="product-quantity-box-sub">
                                            <select :id="'itemquantity' + item.Id" :name="'itemquantity' + item.Id" class="custom-select form-control qty-dropdown" 
                                                v-on:change="vmorder.updateQuantity('itemquantity', item.Id)">
                                                <option v-for="qty in item.AllowedQuantities" :selected="qty.Selected" :value="qty.Value">{{qty.Value}}</option>
                                            </select>
                                        </div>
                                        <div v-else class="product-quantity-box-sub">

                                            <span class="ss-icon product-minus" data-func="minus" 
                                                                                            v-on:click="vmorder.minusQuantity('itemquantity', item.Id)">
                                                <span class="icon-minus"></span>
                                            </span>
                                            <input :id="'itemquantity' + item.Id" :name="'itemquantity' + item.Id" type="number" v-model="item.Quantity" min="1" 
                                                v-on:change="vmorder.updateQuantity('itemquantity', item.Id)" class="qty-input form-control text-center" />
                                            <span class="ss-icon product-plus" data-func="plus" 
                                                                                            v-on:click="vmorder.plusQuantity('itemquantity', item.Id)">
                                                <span class="icon-plus"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <input :id="'itemquantity' + item.Id" :name="'itemquantity' + item.Id" type="number" :value="item.Quantity" class="qty-input form-control text-center" readonly />
                                    </div>
                                </div>

                                <div class="subtotal">

                                    <strong>@Loc["ShoppingCart.Totals.OrderTotal"]:</strong>

                                    <div v-if="item.Discount" class="d-flex flex-column">
                                        <p class="mb-0 prod-total">{{item.SubTotal}}</p>
                                        <div class="discount text-success text-center">
                                            <span>@Loc["ShoppingCart.ItemYouSave"]: </span>
                                            <span>{{item.Discount}}</span>
                                            <span v-if="item.DiscountedQty > 0" class="font-weight-light font-italic">@Loc["ShoppingCart.DiscountedQty"]: </span>
                                            <span v-if="item.DiscountedQty > 0" class="font-weight-light font-italic">{{item.DiscountedQty}}</span>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <p class="mb-0 prod-total">{{item.SubTotal}}</p>
                                    </div>
                                </div>

                                <div v-if="vmorder.cart.IsEditable" class="cart__remove-btn"
                                     @@click="vmorder.deleteitem('@Url.RouteUrl("DeleteCartItem")/'+ item.Id +'?shoppingcartpage=True')">
                                    <span class="remove-text">Remove</span> 
                                    <span class="remove-icon"></span>
                                </div>
                            </div>
                        </div>
                        @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_cart_footer" })

                        

                        <div class="cart-options">
                            <div class="row">
                                <div v-if="vmorder.cart.IsEditable" class="col-12 col-md-6 checkoutAttributes">
                                    <partial name="_CheckoutAttributes" />
                                </div>
                                <div class="selected-checkout-attributes col-sm-3 col-md-6 col-12 ml-auto justify-content-end text-right mt-3">
                                    <div v-html="vmorder.cart.CheckoutAttributeInfo"></div>
                                </div>
                            </div>
                            @await Component.InvokeAsync("EstimateShipping")
                        </div>
                        <div>
                            @await Component.InvokeAsync("CrossSellProducts")
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 totals">
                        <div class="totals-inner">
                            <partial name="OrderTotals" />
                            <div class="cart-collaterals">
                                <div class="deals">
                                    @*@if (Model.GiftVoucherBox.Display)
                                    {
                                        <partial name="_GiftVoucherBox" />
                                    }*@
                                    @if (Model.DiscountBox.Display)
                                    {
                                        <partial name="_DiscountBox" />
                                    }
                                    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_deals" })
                                </div>
                            </div>
                            <div v-if="vmorder.cart.IsEditable && vmorder.cart.MinOrderSubtotalWarning != null" class="alert alert-danger">
                                {{vmorder.cart.MinOrderSubtotalWarning}}
                            </div>
                            <template v-if="vmorder.cart.IsEditable && vmorder.cart.MinOrderSubtotalWarning == null">
                                <template v-if-else="vmorder.cart.MinOrderSubtotalWarning !== null">
                                    <template v-if="vmorder.cart.TermsOfServiceOnShoppingCartPage">
                                        <div class="w-100">
                                            <b-form-checkbox id="TermsOfService"
                                                             v-model="vmorder.terms"
                                                             name="TermsOfService">
                                                @Loc["Checkout.TermsOfService.IAccept"]
                                                @if (!Model.TermsOfServicePopup)
                                                {
                                                    <a href="@Url.RouteUrl("Page", new { SeName = PageSeNameConstants.Conditionsofuse })" target="_blank">
                                                        @Loc["Checkout.TermsOfService.Read"]
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="read"
                                                          onclick="window.open('@Url.RouteUrl("PagePopup", new { SystemName = PageSeNameConstants.Conditionsofuse })', 450, 500, true)">
                                                        @Loc["Checkout.TermsOfService.Read"]
                                                    </span>
                                                }
                                            </b-form-checkbox>
                                            <div class="alert alert-info my-2" v-show="vmorder.acceptTerms">@Loc["Checkout.TermsOfService.PleaseAccept"]</div>
                                        </div>
                                        <div class="checkout-buttons flex-sm-nowrap flex-wrap text-center mt-3">
                                            <b-button type="button" id="checkoutasguest" v-if="vmorder.cart.ShowCheckoutAsGuestButton" @@click="vmorder.termsCheck(true)" variant="secondary" class="checkout-as-guest-button mx-sm-1 mx-0">
                                                @Loc["Account.Login.CheckoutAsGuest"]
                                            </b-button>
                                            <b-button id="checkout" name="checkout" @@click="vmorder.termsCheck(false)" variant="info">
                                                <span v-if="vmorder.cart.IsGuest">
                                                    @Loc["Checkout.Button.Login"]
                                                </span>
                                                <span v-else>
                                                    @Loc["Checkout.Button"]
                                                </span>
                                            </b-button>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="checkout-buttons flex-sm-nowrap flex-wrap text-center mt-3">
                                            <b-button type="button" id="checkoutasguest" v-if="vmorder.cart.ShowCheckoutAsGuestButton" @@click="location.href='@Url.RouteUrl("Checkout")'" variant="secondary" class="checkout-as-guest-button mx-sm-1 mx-0">
                                                @Loc["Account.Login.CheckoutAsGuest"]
                                            </b-button>
                                            <b-button id="checkout" name="checkout" @@click="document.querySelector('#shopping-cart-form').setAttribute('action', '@Url.RouteUrl("StartCheckout")');document.querySelector('#shopping-cart-form').submit();" variant="info" class="checkout-button mt-sm-0 mt-1">
                                                <span v-if="vmorder.cart.IsGuest">
                                                    @Loc["Checkout.Button.Login"]
                                                </span>
                                                <span v-else>
                                                    @Loc["Checkout.Button"]
                                                </span>
                                            </b-button>
                                        </div>
                                    </template>
                                </template>
                            </template>
                            <div class="addon-buttons">
                                <div v-for="pm in vmorder.cart.ButtonPaymentMethodViewComponentNames">
                                    <div v-html="pm"></div>
                                </div>
                            </div>

                            <div class="continue-shopping-container">
                                <a onclick="location.href=('@(Url.RouteUrl("ContinueShopping"))')" class="continue-shopping-button">@Loc["shoppingcart.continueshopping"]</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div v-else class="no-data alert alert-info text-center">
        @Loc["ShoppingCart.CartIsEmpty"]
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_after" })
</div>

<partial name="_ModelScript" model="Model" />
